<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yichuizi.videolibrary">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <application>
        <activity android:name=".opengl.OpenGLActivity" />
        <activity android:name=".SuperVideoActivity" />
        <activity android:name=".TiktokActivity" />
    </application>
</manifest>
